.poster_image{
    width: 35vh;
    height: 300px;
    border-radius: 15px;
}
ul{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 30px;

}
li{
    list-style-type: none;
}
.container{
    margin: 0px 200px;
}
.heading{
     font-size: 24px;
  font-weight: 500;
}