*{
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000409;
  color: white;
  gap: 740px;
  
}
.right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: medium;
  color: white;
}
.logo {
  width: 200px;
  height: 50px;
}
.rightList {
  color: white;
  text-decoration: none;
}
